**/__pycache__/**
**/archive/**
archive/*
ckp/*
img/*
prompt/*
output/*
result/*
data_engineer/prompt_fidelity/caption/*
data_engineer/prompt_fidelity/data/*
data_engineer/prompt_fidelity/VLM-Captioning-Tools/*
data_engineer/prompt_generate/CogVLM/*
data_engineer/prompt_generate/diffusiondb/*
data_engineer/prompt_generate/ImageReward-Aesthetic/*
data_engineer/prompt_generate/output/*
data_engineer/prompt_generate/result/*
data_engineer/prompt_generate/script/*
data_engineer/prompt_generate/Stable-Diffusion-Prompts/*
data_engineer/prompt_generate/vicuna-7b-v1.5/*
data_engineer/prompt_reconstruction/data/*
data_engineer/prompt_reconstruction/output/*
data_engineer/prompt_reconstruction/clip-interrogator/*
data_engineer/prompt_reconstruction/image-captioning/*
data_engineer/prompt_reconstruction/script/*
